@model List<Category>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="">KATEGORİLER</a>
    <div class="dropdown-menu table-responsive navbar-dark" aria-labelledby="dropdownMenuButton">
        @foreach (var item in Model)
        {
            <a class="dropdown-item list-inline" asp-controller="Blog" asp-action="BlogByCategoryList" asp-route-categoryName="@item.Name">@item.Name</a>
        }
    </div>
</li>
