<div class="col-lg-12">
    <div class="sidebar-item search">
        <form asp-controller="Blog" asp-action="AllBlog" method="post" >
            <input type="text" name="search" class="searchText" placeholder="Yazı ara..." autocomplete="on">
        </form>
    </div>
</div>