@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Gösterge Paneli</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">With Codes</a></li>
                    <li class="breadcrumb-item active">Gösterge Paneli</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<section class="content">
    <div class="container-fluid">
        <!-- Info boxes -->
        <div class="row">
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box">
                    <span class="info-box-icon bg-info elevation-1"><i class="fas fa-blog"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Toplam Blog Sayısı</span>
                        <span class="info-box-number">
                            @ViewBag.BlogCount
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-folder"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Kategori Sayısı</span>
                        <span class="info-box-number">@ViewBag.CategoryCount</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <!-- fix for small devices only -->
            <div class="clearfix hidden-md-up"></div>

            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-success elevation-1"><i class="fas fa-blog"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Yazar Blog Sayısı</span>
                        <span class="info-box-number">@ViewBag.AuthorBlogCount</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Yazar Sayısı</span>
                        <span class="info-box-number">@ViewBag.AuthorCount</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <!-- /.row -->
        <!-- Main row -->


        <div class="row">
            <vc:dashboard-author-list></vc:dashboard-author-list>
            <vc:dashboard-category-list></vc:dashboard-category-list>
        </div>
        <div class="row">
            <vc:dashboard-author-by-blog-list></vc:dashboard-author-by-blog-list>
            <vc:dashboard-author-by-comment></vc:dashboard-author-by-comment>
        </div>
    </div>
</section>