@model About
@{
    ViewData["Title"] = "Hakkımızda";
    Layout = "~/Views/Shared/_WithCodesLayout.cshtml";
}

<!-- Banner Starts Here -->
<div class="heading-page header-text">
    <section class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-content">
                        <h4>HAKKIMIZDA</h4>
                        <h2>HAKKIMIZDA DAHA FAZLASI!</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Banner Ends Here -->


<section class="about-us">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <img src="@Model.ImageUri" alt="">
                <p>@Html.Raw(Model.ContentText)</p>
            </div>
        </div>


    </div>
</section>


