@model WithCodesBlog.Web.UI.Areas.Admin.ViewModels.ProfileViewModel

<form asp-controller="Profile" asp-action="UpdateProfile" class="forms-sample" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    <div class="form-row">
        <input type="hidden" name="ImageUri" value="@Model.ImageUri" />
        <div class="form-group col-md-6">
            <label>Kullanıcı Adı</label>
            <input asp-for="UserName" class="form-control" placeholder="Kullanıcı Adı">
            <span class="text-danger" asp-validation-for="UserName"></span>
        </div>

        <div class="form-group col-md-6">
            <label>İsim Soyisim</label>
            <input asp-for="NameSurname" class="form-control" placeholder="İsim Soyisim">
            <span class="text-danger" asp-validation-for="NameSurname"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Email</label>
            <input asp-for="Email" class="form-control" id="Email" placeholder="Emai">
            <span class="text-danger" asp-validation-for="Email"></span>
        </div>
        <div class="form-group col-md-6">
            <label for="ImageUri">Görsel</label>
            <div class="custom-file">
                <input type="file" asp-for="ImageUri" value="@Model.ImageUri" class="custom-file-input" id="ImageUri">
                <label class="custom-file-label" for="ImageUri">Resim Seç</label>
            </div>
            <span class="text-danger" asp-validation-for="ImageUri"></span>
        </div>
    </div>

    <button type="submit" class="btn btn-outline-success mr-2">Profili Güncelle</button>
</form>
